In [1]:
import pandas as pd
import pprint
import requests
import json
import omdb
from movies import movies

In [2]:
url = "http://www.omdbapi.com/?apikey=trilogy&t="

In [3]:
actor_data = {"Movie Title": movies}
actors_df = pd.DataFrame(actor_data)
actors_df.head()

             Movie Title
0                Rampage
1  Avengers: Inifity War
2             Deadpool 2
3              Show Dogs
4                 Adrift

In [4]:

for index, row in actors_df.iterrows():
    movie = row["Movie Title"]
    movie_data = requests.get(url + movie).json()
    
    try:
        
        actors_df.set_value(index, "Actors", movie_data["Actors"])
        
        actors_df.set_value(index, "Director", movie_data["Director"])
        
        
    except:
        print("NaN")

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.

NaN
NaN
NaN
NaN
NaN

In [5]:
print(actors_df)

                                   Movie Title  \
0                                      Rampage
1                        Avengers: Inifity War
2                                   Deadpool 2
3                                    Show Dogs
4                                       Adrift
5                                   Hereditary
6                                    Ocean's 8
7                     Won't You Be My Neighbor
8                                        Gotti
9                                          Tag
10              Jurassic World: Fallen Kingdom
11                              Leave No Trace
12                                       Sanju
13                 Sicario: Day of the Soldado
14                                  Uncle Drew
15                             The First Purge
16                        Ant-Man and The Wasp
17                         Sorry To Bother You
18                                      Soorma
19                                Eighth Grade
20       Hotel Transylvania 3: Summer Vacation
21                                  Skyscraper
22                               Incredibles 2
23                               Blindspotting
24                 Mamma Mia! Here We Go Again
25                             The Equalizer 2
26                         Unfriended: Darkweb
27                  Mission Impossible Fallout
28  Scotty and the Secret History of Hollywood
29               Teen Titans GO! To the Movies
30                   Saheb Biwi Aur Gangster 3
31                  Disney's Christopher Robin
32                           The Darkest Minds
33                            Never Goin' Back
34                       The Spy Who Dumped Me

                                               Actors  \
0   Dwayne Johnson, Naomie Harris, Malin Akerman, ...
1                                                 NaN
2   Ryan Reynolds, Josh Brolin, Morena Baccarin, J...
3   Alan Cumming, Will Arnett, Stanley Tucci, Nata...
4   Shailene Woodley, Sam Claflin, Grace Palmer, J...
5   Alex Wolff, Gabriel Byrne, Toni Collette, Mill...
6                                                 NaN
7   Joanne Rogers, Betty Aberlin, McColm Cephas Jr...
8   Armand Assante, William Forsythe, Richard C. S...
9   Ed Helms, Lil Rel Howery, Jon Hamm, Annabelle ...
10  Chris Pratt, Bryce Dallas Howard, Rafe Spall, ...
11  Thomasin McKenzie, Ben Foster, Jeffery Rifflar...
12  Ranbir Kapoor, Paresh Rawal, Manisha Koirala, ...
13                                                NaN
14  Kyrie Irving, Lil Rel Howery, Shaquille O'Neal...
15    Y'lan Noel, Lex Scott Davis, Joivan Wade, Mugga
16  Paul Rudd, Evangeline Lilly, Michael Peña, Wal...
17  Lakeith Stanfield, Tessa Thompson, Jermaine Fo...
18  Diljit Dosanjh, Tapsee Pannu, Angad Bedi, Dani...
19  Josh Hamilton, Elsie Fisher, Emily Robinson, D...
20  Adam Sandler, Andy Samberg, Selena Gomez, Kevi...
21  Dwayne Johnson, Neve Campbell, Chin Han, Rolan...
22  Craig T. Nelson, Holly Hunter, Sarah Vowell, H...
23  Daveed Diggs, Rafael Casal, Janina Gavankar, J...
24  Lily James, Amanda Seyfried, Meryl Streep, Dom...
25  Pedro Pascal, Denzel Washington, Bill Pullman,...
26                                                NaN
27  Tom Cruise, Rebecca Ferguson, Henry Cavill, Mi...
28  Peter Bart, Scotty Bowers, Robert Hofler, Will...
29  Kristen Bell, Nicolas Cage, Tara Strong, Will ...
30  Jimmy Sheirgill, Sanjay Dutt, Mahie Gill, Chit...
31                                                NaN
32  Bradley Whitford, Mandy Moore, Amandla Stenber...
33  Maia Mitchell, Camila Morrone, Kyle Mooney, Ar...
34  Mila Kunis, Sam Heughan, Kate McKinnon, Justin...

                             Director
0                         Brad Peyton
1                                 NaN
2                        David Leitch
3                        Raja Gosnell
4                   Baltasar Kormákur
5                           Ari Aster
6                                 NaN
7                      Morgan Neville
8                       Robert Harmon
9                         Jeff Tomsic
10                        J.A. Bayona
11                       Debra Granik
12                    Rajkumar Hirani
13                                NaN
14                  Charles Stone III
15                    Gerard McMurray
16                        Peyton Reed
17                        Boots Riley
18                          Shaad Ali
19                         Bo Burnham
20                 Genndy Tartakovsky
21            Rawson Marshall Thurber
22                          Brad Bird
23               Carlos López Estrada
24                          Ol Parker
25                      Antoine Fuqua
26                                NaN
27              Christopher McQuarrie
28                      Matt Tyrnauer
29  Aaron Horvath, Peter Rida Michail
30                   Tigmanshu Dhulia
31                                NaN
32                Jennifer Yuh Nelson
33                 Augustine Frizzell
34                      Susanna Fogel

In [6]:
output = "Actor_data.csv"

actors_df.to_csv(output, index = False, header = True)